.heading{

    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgb(216, 161, 161);
}


.price-container{

    display: flex;
    margin: auto;
    justify-content:center;
    justify-content: safe;
    margin: auto;
    margin-top: 50px;
    

}
.price{

    width: 150px;
    height: 150px;
    
    /*border: 3px solid rgb(40, 12, 165);*/
    border-width: 0px;
    border-style: inset;
    
    text-align: center;
    border-radius: 5px;
    font-family: cursive;
    border-radius: 20px;
    box-shadow: 2px 4px 10px gray,-2px -4px 10px yellowgreen ;
    
    
}
