.price-container{
    display: flex;
    background-color: yellowgreen;
    justify-content:space-evenly;
    border: 25px;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: flex-start;
    height: 400px;
    align-content: space-between;
}
.price-card{
    width: 35%;
    border: 1px solid rgb(19, 18, 17);
    text-align: center;
    background-color: antiquewhite;
}